* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
}

body {
  margin: 0;
}

.App-header {
  height: 100px;
  display: flex;
  color: #282c34;
  background-color: white;
  padding: 20px 36px;
  letter-spacing: -0.05em;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 500px;
}

.header--image {
  height: 70px;
}

.header--text {
  padding: 15px;
}

section {
  padding: 20px 16px;
}

.card {
  width: 500px;
  height: 220px;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  position: relative;
  padding: 10px 20px;
}

.card--image {
  display: flex;

  border-radius: 12px;
}

.title {
  letter-spacing: -0.05em;
}

.grey {
  color: rgb(186, 186, 186);
  font-weight: bolder;
}
